<div class="recipe">
    <div class="recipe_title">
        <h1><%= @recipe.name %></h1>
        <h6><%= @recipe.portions%> portions</h6>
    </div>
    <div class="description">
        <%= @recipe.description %>
    </div>
</div>