@import url('https://fonts.googleapis.com/css?family=Karla|Rubik');

$background-color: rgb(245,245,245);
$accent-color: rgb(155,1,1);
$accent-color-hover: rgb(119,1,1);
$menu-color: rgb(237,237,237);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  background-color: $background-color !important;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p, label, input, a {
  font-family: 'Karla', sans-serif;
  font-size: 1.5 em !important;
  line-height: 1.25em !important;
}

h1 {
  font-family: 'Rubik', sans-serif !important;
  font-size: 3em !important;
  line-height: 1.05em !important;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: 'Rubik', sans-serif !important;
  font-size: 2.25em !important;
  line-height: 1.25em !important;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


a {
  color: $accent-color !important;
}

a:hover {
  color: $accent-color-hover;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 2em !important;
    line-height: 1.25 !important;
  }

  h2 {
    font-size: 1.625 !important;
    line-height: 1.15384615 !important;
  }

}

footer {
  width: 100%;
  padding: 1em;
  p {
    text-align: center;
  }
}

form {
  font-weight: 400;
  margin: 0 auto;
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}


button, input[type="submit"] {
  width: 100%;
  color: black;
  padding: 5px;
  border: none;
  float: center; 
  height: 3em !important;
  background-color: $accent-color;
  color: white;
}

button, input[type="submit"]:hover {
  background-color: $accent-color-hover;
}

input[type="checkbox"] {
  background-color: red !important;
  color: red !important;
}

label.form-check-label {
  padding-left: 1%;
}

header {
  background-color: $menu-color;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;

  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin: 0 1em;
    }
  }

  a {
    color: black !important;
    font-size: 1.25em;
    padding-left: 1%;
    padding-right: 1%;
  }

  a:hover {
    color: black !important;
  }
}

.menu-title a{
  float: left !important;
  text-align: left !important;
  width: auto !important;
}
