<header>
    <nav class="menu">
        <%= link_to "Home", root_url%>
        <% if logged_in? %>
        <%= link_to "My recipes" %>
        <%= link_to "New recipe" %>
        <%= link_to "Log out", logout_path, method: "delete" %>
        <% end %>
    </nav>
</header>